<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.groupone.dao.IF_memberDAO">

	
	<insert id="insert" parameterType="com.groupone.vo.MemberVO">
		insert into member values( #{id},#{name},#{gender},#{country},#{city},default)
	</insert>
	
	<select id="selectdate" resultType="com.groupone.vo.MemberVO" parameterType="com.groupone.vo.MemberVO">
	<![CDATA[select * from member where indate>=#{startD} and indate<=#{endD}]]>
	
	</select>
	
	<select id="idchk" resultType="int"  parameterType="string">
		select count(*) from member where id=#{id}
	</select>
	
	<delete id="deleteM" parameterType="string">
		delete from member where id=#{id}
	</delete>
	
	<update id="updateM" parameterType="com.groupone.vo.MemberVO">
		update member set name=#{name},gender=#{gender},country=#{country},city=#{city} where id=#{id}
	</update>
</mapper>